<div class="playerContainer">
  <header>
    <img src="../../../assets/images/playing.svg" alt="Tocando agora">
    <strong>Tocando agora</strong>
  </header>

  <div class="emptyPlayer">
    <strong>Selecione um podcast para ouvir</strong>
  </div>

  <footer class="empty">
    <div class="progress">
      <span>00:00</span>
      <div class="slider">
        <div class="emptySlider"></div>
      </div>
      <span>00:00</span>
    </div>

    <div class="buttons">
      <button type="button">
        <img src="../../../assets/images/shuffle.svg" alt="Embaralhar">
      </button>

      <button type="button">
        <img src="../../../assets/images/play-previous.svg" alt="Tocar anterior">
      </button>

      <button type="button" class="playButton">
        <img src="../../../assets/images/play.svg" alt="Tocar">
      </button>

      <button type="button">
        <img src="../../../assets/images/play-next.svg" alt="Tocar próxima">
      </button>

      <button type="button">
        <img src="../../../assets/images/repeat.svg" alt="Tocar novemente">
      </button>


    </div>
  </footer>
</div>
